/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

.holder {
	//background: black;
    //  border-top: 1px dotted grey;

    // background-color: #eee;
    padding-top: 1em;

}

.holder .cast-name {
    display: inline-block;
    font-size: 2em;
    line-height: 200px;
    width: 400px;

}

.caption {
    background-color: #f3f3f3;
    
}

.caption p {
    padding-top: 2em;
    text-align:center;
}

.caption h3 {
    text-align:center;
}

.cast-list {
    margin-top: 2em;

}
.holder .btn-danger {
    
}

.holder img {
    width: 200px;
    height: 200px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}
